@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Shadows+Into+Light');

$color: #7d9cce;
$matteBlack: rgb(145, 142, 142);

.hero-body {
  font-family: 'PT Sans', sans-serif;
  background: linear-gradient( transparentize($matteBlack, 0.50),
  transparentize($matteBlack, 0.50)),
  url('/img/plankSZ.jpg') repeat;
  background-position: 0 auto;
  background-size: 0/50% auto;
}
#header1 {
  font-size: 100px;
  color: lighten(black, 15%);
}
#header2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 60px;
  color: whitesmoke;
  font-weight: 10em;
}
#header1, #header2 {
  transform: rotate(-5deg);
}

.navbar-brand {
  background-color: lighten(#16425B, 20%);
  opacity: 0.9;
}
#navbar {
  background-color:#16425B;
  opacity: 0.9;
}
#homebtn {
  color: black;
}

body{
  // background-color: #36494E;
  background: linear-gradient( transparentize($matteBlack, 0.70),
  transparentize($matteBlack, 0.70)),
  url('/img/bodybkgrd1.jpg') repeat;
  background-position: 0 auto;
  background-size: 0/50% auto;
  background-position: center;
  background-position-y: 400px;
}

/////////////////////////////////////////////// CARDS ///////////////////////////////////////////////

#cardTitle {
  font-size: 25px;
}

#cardBody {
  color: #555;
  background: #222;
  text-align: center;
  font-family: 'Roboto Mono';
  padding: 1em;
}

#wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 60px;
}

.card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  transition: 0.5s;
}
.card .info h1 {
  margin: 0px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.card .info button:hover {
  background: dodgerblue;
  color: white;
}